.table-container {
  width: 100%;
}

.table {
  width: 100%;
  table-layout: fixed; 
}

.employee-column {
  width: 15%;
}

.day-column {
  width: calc(85% / 7);
  text-align: center;
}

.total-hours-column {
  width: 10%;
  text-align: center !important;
}

.MuiSelect-root {
  width: 100%;
}
